{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Pending Bookings for Approval</h2>

    {% if bookings %}
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>User</th>
                <th>Room</th>
                <th>Date</th>
                <th>Department</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.user.username }}</td>
                <td>{{ booking.room.room_name }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.department.department_name }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td>{{ booking.status }}</td>
                <td>
                    <a href="{% url 'approve_booking' booking.id %}"
                        class="btn btn-success btn-sm">Approve</a>

                    <a href="{% url 'reject_booking' booking.id %}"
                        class="btn btn-danger btn-sm">Reject</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No pending bookings.</p>
    {% endif %}
</div>

{% endblock %}