{% extends 'base.html' %}

{% block content %}
<h2>All Rooms</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_name }}</td>
            <td>{{ room.room_capacity }}</td>
            <td>{{ room.room_type }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No rooms available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
